main {
  margin: 24px auto;
  max-width: 1000px;
}

.accordions {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

.accordion:not(:last-child) {
  border-bottom: 1px solid #666;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.accordion-title {
  margin: 0;
}

.accordion-content {
  margin-top: 24px;
}

.accordion-content[aria-hidden="true"] {
  display: none;
}

hr {
  margin: 64px 0;
}
