main {
  margin: 24px auto;
  max-width: 1000px;
}

button {
  cursor: pointer;
}

hr {
  margin: 64px 0;
}

.accordions {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

.accordion:not(:last-child) {
  border-bottom: 1px solid #666;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.accordion-title {
  margin: 0;
}

.accordion-content {
  margin-top: 24px;
}

.accordion-content[aria-hidden="true"],
.tab[aria-hidden="true"] {
  display: none;
}

.tab-list {
  display: flex;
  list-style: none;
  gap: 24px;
  margin: 0 0 24px;
  padding: 0;
}

.visually-hidden {
  display: none;
}
